<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{DEFAULT}] [%d{HH:mm:ss.SSS}] [%t] %level %c %M %m%n"/>
            <!--
        <PatternLayout pattern="/时间%d{DEFAULT} /时间%d{HH:mm:ss.SSS} 线程/%t 级别/%level logger类/%c 方法%M 信息/%m%n"/>
            -->
        </Console>
        <File name="Mybatis" fileName="log/mybatis.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level %logger{36} - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Mybatis"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>