<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>用户列表</title>
</head>
<body>

<table border="1">
    <tr>
        <th>用户名</th>
        <th>账号</th>
        <th>权限</th>
        <th th:if="${loggedUser!=null and loggedUser.authority == 1}">操作</th>
    </tr>

    <tr th:each="user,userStat:${allUser}">
        <form th:action="@{/admin/user/delete}" method="post">
            <td th:text="${user.name}">岳云鹏</td>
            <td th:text="${user.account}">xx@qq.com</td>
            <td th:text="${user.authority == 0}? '普通用户' : '管理员'">用户</td>
            <td th:if="${loggedUser!=null and loggedUser.authority == 1}">
                <input type="submit" id="btn_user_del" value="删除"/>
            </td>
            <input th:value="${user.id}" name="id" type="hidden"/>
        </form>
    </tr>

</table>

</body>
</html>